.header {
    background-color: $grey;

    &__logo {
        &-icon {
            width: 100px;
            height: 85px;

            &:hover {
                fill: #20c997;
            }
        }
    }

    &__menu {
        overflow-x: hidden;

        &-list {
            position: absolute;
            top: 80px;
            right: 0;
            bottom: 0;
            margin-bottom: 0;
            padding: 0 20px;
            opacity: 0;
            visibility: hidden;
            background: $grey;
            z-index: 1;
            transition: opacity .3s ease;

            @media (min-width: map-get($grid-breakpoints, 'md')) {
                position: static;
                padding: 0;
                opacity: 1;
                visibility: visible;
            }

            .active & {
                opacity: 1;
                visibility: visible;
            }

            &-item {
                display: block;

                @media (min-width: map-get($grid-breakpoints, 'md')) {
                    display: inline-block;
                }
            }
        }

        &-toggle {
            position: absolute;
            top: 20px;
            right: 20px;
            z-index: 1;
            width: 30px;
            height: 22px;

            @media (min-width: map-get($grid-breakpoints, 'md')) {
                display: none;
            }

            &-center,
            &::before,
            &::after {
                position: absolute;
                left: 0;
                display: inline-block;
                height: 4px;
                width: 30px;
                background-color: #000;
                transition: all .3s ease;
            }

            &::before,
            &::after {
                content: '';
            }

            &::before {
                top: 0;
            }

            &-center {
                top: calc(50% - 2px);

                .active & {
                    opacity: 0;
                }
            }

            &::after {
                top: calc(100% - 4px);
            }

            .active & {
                &::after {
                    top: 10px;
                    transform: rotate(45deg);
                }

                &::before {
                    top: 10px;
                    transform: rotate(-45deg);
                }
            }
        }
    }
}
